body {
    margin: 0;

}
#home {
    background-image: url("/images/main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-bottom: 8%;
     background-color: rgba(0, 0, 0, 0.404);
    background-blend-mode: hard-light;
}
.logo1 {
    width: 200px;
    clip-path: circle();

}
.intro {
    font-family: 'Style Script', cursive; 
    font-size: 60px;
    font-weight: bold;
   color: white;
}
.lan {
    font-family: 'Style Script', tangerine;
    font-size: 35px;
    color: white;
}
.nxt {
    width: 8%;
    height: 30px;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.583);
    color: white;
    border-radius: 5%;
}
.btn1:hover {
    cursor: pointer;
    opacity: 0.5;
}


.per {
    width: 400px;
    height: 200px;
    float: left;
    padding: 20px;
}
.about {
    font-size: 18px;
    text-align: center;
   
}

.head1 {
    text-align: center;
}

#menu {
    padding-top: 5%;
    margin: 10px;
    
    
}
.slider {
    width: 91%;
    height: 550px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.884);
    background-blend-mode: soft-light;
    padding-left: 9%;
} 

.slides {
    width: 800%;
    height: 900px;
    display: flex;
    overflow: hidden;
    
    
}
.slides input {
    display: none;
}
.input {
    display: none;
    display: flex;
    animation-duration: 10s;
    animation-name: slide;
    animation-iteration-count: infinite;
    
}
.slides {
    width: 20%;
    transition: 2s;
    width: 1000px;
    height: 500px;
    margin: 0;
    padding: 0;
    
}
.slides img {
    width: 1000px;
    height: 500px;
    display: block;
    
}

.manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover{
    background: #40d3dc;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40d3dc;
}
@keyframes slide{
    10%{
        transform:translate(0);
    }
    15%, 30%{
        transform:translate(-1000px);
    } 
    35%, 50%{
        transform:translate(-2000px);
    }
    55%, 70%{
        transform:translate(-3000px);

    }
    75%, 90%{
        transform:translate(0);
    }
}
#form {
    width: 300px;
    margin: 100px auto ;   

}
#orders{
    padding-left: 43%;
    padding-right: 43%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.672);
    width: 300px;
    margin: 100px auto 0px auto;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;

}
.form-control{
   /*change color of inputs*/
    color: rgb(27, 26, 26);
}
#form input {
    position: relative;
    background: transparent;
    color: rgba(255, 255, 255, 0.534);
    background-color: rgba(0, 0, 0, 0.705);
    box-shadow: none;
    text-align: center;
    font-size: 18px;
}
form label{
    padding-top: 10px;
    color: white;
    font-size: 25px;
    display: block;
    transition: 0.5s;
    border-radius: 2px;
    font-weight: bold;
    padding-bottom: -1px;
}
select{
    display: block !important;
    position: relative;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.699);
    text-align: center;
    font-size: 18px;
    padding-right: 200px;
}
#split {
    column-count: 2;

}
.btn {
   /* style all buttons */
    color: #fff;
    background-color: #d19438 !important;
    border-radius: 9px;
    padding: 9px;
    font-family: 'Concert One', cursive;
    
}
.form-control{
    font-size:16px;
}