#home {
    background-image: url("/images/main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-bottom: 8%;
     background-color: rgba(0, 0, 0, 0.404);
    background-blend-mode: hard-light;
}
.logo1 {
    width: 200px;
    clip-path: circle();

}
.intro {
    font-family: 'Style Script', cursive; 
    font-size: 60px;
    font-weight: bold;
   color: white;
}
.lan {
    font-family: 'Style Script', tangerine;
    font-size: 35px;
    color: white;
}
.nxt {
    width: 8%;
    height: 30px;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.583);
    color: white;
    border-radius: 5%;
}